<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liteon.waterlevelalert"
    android:versionCode="1"
    android:versionName="1.0" >
	
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />
	
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WaterAlertActivity"
            android:label="@string/activity_water_alert" >
        </activity>
        <activity
            android:name=".VideoActivity"
            android:label="@string/activity_video" >
        </activity>
                <activity
            android:name=".DataRecordActivity"
            android:label="@string/activity_data_record" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/activity_settings" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/activity_login" >
        </activity>
        <service 
            android:name=".service.AlertDataService"
            android:stopWithTask="true"></service>
        <provider 
            android:name=".util.AlertDataContentProvider"
            android:authorities="com.liteon.waterlevelalert"
            ></provider>
    </application>
	
</manifest>
